/* src/App.css */

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-header {
  background-color: var(--color-azul);
  padding: 40px 20px;
  color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-grow: 1; /* Esto asegura que el contenedor de productos ocupe el espacio disponible */
}

.producto {
  border: 1px solid #ddd;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.producto h2 {
  color: var(--color-guindo);
  margin-top: 0;
  font-size: 1.5rem;
}

.producto p {
  color: var(--color-texto-oscuro);
}

.producto-precio {
  font-weight: bold;
  color: var(--color-verde);
  font-size: 1.2rem;
}

/* Estilos para que sea responsive en pantallas pequeñas */
@media (max-width: 768px) {
  .productos-container {
    flex-direction: column;
    align-items: center;
  }
  .producto {
    width: 90%;
  }
}

.search-container {
  margin-top: 20px;
}

.search-input {
  width: 80%;
  max-width: 500px;
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
  border-color: var(--color-verde);
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
}

.producto-imagen {
  width: 100%; /* Makes the image take up the full width of the product card */
  height: 200px; /* Gives the image a fixed height */
  object-fit: cover; /* Ensures the image fills the space without being distorted */
  border-radius: 10px 10px 0 0; /* Rounds the top corners to match the card */
  margin-bottom: 10px; /* Adds space between the image and the product title */
}


.add-to-cart-btn {
  background-color: var(--color-verde);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.add-to-cart-btn:hover {
  background-color: #388e3c;
}

/* El resto de estilos de Vite han sido eliminados de aquí */